# Web App Frontend Environment Variables
NODE_ENV="production"
PORT=3000
NEXT_PUBLIC_APP_NAME="Land Intelligence OS"
NEXT_PUBLIC_APP_URL="https://Landdevelopments.bridgebox.ai"
NEXT_PUBLIC_API_URL="https://Landdevelopments.bridgebox.ai/api"
NEXT_PUBLIC_MAPBOX_TOKEN="pk.eyJ1IjoiZGVtbyIsImEiOiJjbGV4YW1wbGUxMjM0NSJ9.example"
